TELEGRAM_BOT_TOKEN=BotFather_token_buraya
TELEGRAM_ADMIN_IDS=5482960208
GITHUB_TOKEN=github_pat_buraya
GITHUB_REPO=toprakstroj1/retorikmunazara
GITHUB_BRANCH=main
TELEGRAM_WEBHOOK_SECRET=super-gizli-12345
